@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  padding-left: 18px;
  padding-right: 15px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: black;
}
nav {
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  height: 60px;
}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  width: 60%;
}
.navbar__menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar__menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navbar__menu ul li {
  width: 25%;
}

.navbar__menu ul li a:hover {
  color: #d3d3d3;
  background-color: #363636;
}
.navbar__logo {
  margin: 0;
  padding: 0;
  width: 5%;
}
.navbar__search {
  width: 15%;
}
.navbar__search input {
  background: none;
  outline: none;
  border: none;
  padding-left: 5px;
  border-bottom: 1px #363636 solid;
  color: #fff;
}
.navbar__logo figure img {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
}

/* latest post section */
.latest-post {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-top: 30px;
}
.latest-post__left {
  width: 25%;
}
.latest-post__left__full-block {
  width: 100%;
  height: 48%;
  padding: 0;
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.latest-post__left__full-block figure img {
  width: 100%;
  height: auto;
}
.latest-post__left__mini-post {
  margin-top: 15px;
  border: 1px #363636 solid;
  border-radius: 15px;
}
.latest-post__left__mini-posts {
  display: flex;
  padding: 0 5px 0 5px;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s ease-in-out;
}
.latest-post__left__mini-posts:hover {
  transform: translateY(-3px);
}
.latest-post__left__mini-posts p {
  width: 68%;
  font-size: 13px;
  color: #363636;
  cursor: pointer;
}

.latest-post__left__mini-posts figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aqua;
}

.latest-post__mid {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest-post__mid__fluid {
  width: 100%;
  height: 60%;
  position: relative;
}
.latest-post__mid__fluid::after {
  content: "";
  background-color: black;
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35%;
}
.latest-post__mid__fluid h1 {
  position: absolute;
  bottom: 5%;
  width: 80%;
  left: 50%;
  z-index: 100;
  color: #fff;
  font-size: 20px;
  transform: translateX(-50%);
  transition: 0.3 ease-in-out;
  cursor: pointer;
}
.latest-post__mid__fluid h1:hover {
  color: #d3d3d3;
}
.latest-post__mid__fluid figure img {
  width: 100%;
}
.latest-post__mid__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 38%;
}
.latest-post__mid__column {
  width: 49%;
  height: 100%;
}
.latest-post__mid__column figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latest-post__right {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.banner--top {
  width: 100%;
  background-color: aqua;
  height: 60%;
}
.latest-post__right__full-block {
  margin-top: 10px;
  width: 100%;
  height: 38%;
}
.latest-post__right__full-block figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-post {
  margin-top: 60px;
}
.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popular-post__posts {
  width: 32%;
  height: 49%;
  position: relative;
}
.popular-post__posts figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-post__posts figure {
  position: relative;
}
.popular-post__posts figure::after {
  content: "";
  width: 100%;
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
}
.popular-post__posts figure p {
  margin-top: 0;
  width: 80%;
  color: #fff;
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3 ease-in-out;
}
.popular-post__posts figure p:hover {
  color: #363636;
}
.recommended-post {
  margin-top: 60px;
  width: 100%;
  height: 70vh;
  background-color: #363636;
  background: url("../img/jackieChan.jpg") fixed;
  background-size: cover;
}
.recommended-post__content {
  width: 100%;
  height: 70%;
  padding: 3%;
  color: #fff;
  margin-top: 30px;
}
.recommended-post__content h1 {
  font-family: "Istok Web", sans-serif;
  font-size: 1.8rem;
}
.recommended-post__content p {
  margin-top: 30px;
  width: 70%;
}
.recommended-post__content input {
  background: none;
  margin-top: 30px;
  border: 1px #fff solid;
  color: #fff;
  padding: 10px;
}
